# Virtual Environment
.venv/
venv/

# Pycache
__pycache__/

# Environment file
.env

# Logging file
logs/

# Database SQLite3
databases/

# Static files
statics/

# Docker nginx
docker/nginx/config/nginx.conf
docker/nginx/logs/
